.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .skills {
    display: flex;
    height: 40px;
    width: 100%;
    background: #222;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 200px;

    li {
      cursor: pointer;

      &:hover {
        color: lime;
      }
    }
  }

  .active {
    color: lime;
  }
}


